
<div class="container">
  <div>
    <h3 class="name"><%= att.nome %></h3>
  </div>
  <div>
    <img class="image" style="float:left;" src="<%= att.immagine %>" width=200 height=200/>
    <p class="attesa" style="float:left;">Attesa: <strong><%= att.attesa %> minuti</strong></p>
    <div style="clear:both;"></div>
  </div>
<div>
