
<div class="container" style="background-image: url('<%= att.background %>'); background-size: 100%">
  <div class="inner">
    <img class="logo" src="<%= att.logo %>" width=333 height=140 />
    <div class="attesaContainer">
      <span class="attesa"><%= att.attesa %></span>
      <br/>
      <span class="attesaLabel">minuti</span>
    </div>
    <div style="clear:both;"></div>
  </div>
<div>
