

<div id="mainContainer">
  <% @attractions.each do |att| %>
    <%= render :partial => "attraction", :locals => { :att => att } %>
  <% end %>
  <h1>JASON VIVE</h1>
  <img src="assets/jason.jpg" />
</div>
