
<%= javascript_include_tag "graph_control" %>

<div>
  <div id="datepicker" />
</div>

<div>
  <span id="dataLabel"></span>
  <div style="float:left;">
    <ul id="menu">
    </ul>
    <div style="float:left;">
      <canvas id="chart" width="400" height="400"></canvas>
    </div>
    <div style="clear:both;"></div>
  </div>
</div>
